.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/.prettierrc.js
**/tsfmt.json
**/*.ts
.venv/**
.nox/**
.github/
**/__pycache__/**
**/.pyc
bundled/libs/bin/**
noxfile.py
.pytest_cache/**
.flake8
**/requirements.txt
**/requirements.in
**/tool/_debug_server.py
build/**
.mypy_cache/**